PORT=5000
MONGODB_URI=mongodb+srv://javoxapple_db_user:8INmAw0gejFFncuw@cluster0.xvh3hgn.mongodb.net/?appName=Cluster0
JWT_SECRET=cambia_esto_por_una_clave_secreta_muy_larga_2026

# Para crear el primer admin, ejecuta en consola:
# node scripts/createAdmin.js
